Repository eProsima/Fast-DDS, pull requests merged in 2020-04, with the labels that each got.

#1116 DDS conversion between REFERENCE objects
  include/dds/core/refmacros.hpp
Labels: dds-api, high-priority

#1075 DDS standard delete participant
  include/dds/domain/DomainParticipant.hpp
  include/fastdds/dds/domain/DomainParticipant.hpp
  src/cpp/dds/domain/DomainParticipant.cpp
  src/cpp/fastdds/domain/DomainParticipant.cpp
  src/cpp/fastdds/domain/DomainParticipantFactory.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.hpp
  test/unittest/dds/participant/ParticipantTests.cpp
Labels: dds-api, high-priority

#1080 Set/Get_default_participant_qos implementation
  include/dds/core/Exception.hpp
  include/fastdds/dds/domain/DomainParticipantFactory.hpp
  include/fastdds/dds/domain/qos/DomainParticipantQos.hpp
  src/cpp/CMakeLists.txt
  src/cpp/dds/core/Exception.cpp
  src/cpp/dds/domain/DomainParticipant.cpp
  src/cpp/fastdds/domain/DomainParticipantFactory.cpp
  src/cpp/fastdds/domain/qos/DomainParticipantQos.cpp
  test/unittest/dds/participant/ParticipantTests.cpp
Labels: dds-api, high-priority

#1089 DomainParticipant create_publisher
  examples/C++/DDS/DynamicHelloWorldExample/HelloWorldPublisher.cpp
  examples/C++/DDS/HelloWorldExample/HelloWorldPublisher.cpp
  examples/C++/DDS/TypeLookupService/TypeLookupPublisher.cpp
  include/dds/domain/DomainParticipant.hpp
  include/dds/pub/Publisher.hpp
  include/dds/pub/PublisherListener.hpp
  include/dds/pub/detail/Publisher.hpp
  include/dds/pub/qos/PublisherQos.hpp
  include/dds/pub/qos/detail/PublisherQos.hpp
  include/fastdds/dds/domain/DomainParticipant.hpp
  include/fastdds/dds/publisher/Publisher.hpp
  include/fastdds/dds/publisher/qos/PublisherQos.hpp
  src/cpp/CMakeLists.txt
  src/cpp/dds/domain/DomainParticipant.cpp
  src/cpp/dds/pub/Publisher.cpp
  src/cpp/fastdds/domain/DomainParticipant.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.hpp
  src/cpp/fastdds/publisher/Publisher.cpp
  src/cpp/fastdds/publisher/PublisherImpl.cpp
  src/cpp/fastdds/publisher/PublisherImpl.hpp
  src/cpp/fastdds/publisher/qos/PublisherQos.cpp
  test/dds/communication/Publisher.cpp
  test/unittest/dds/participant/ParticipantTests.cpp
  test/xtypes/TestPublisher.cpp
Labels: dds-api, high-priority

#1117 DomainParticipant create_subscriber
  examples/C++/DDS/DynamicHelloWorldExample/HelloWorldSubscriber.cpp
  examples/C++/DDS/HelloWorldExample/HelloWorldSubscriber.cpp
  examples/C++/DDS/TypeLookupService/TypeLookupSubscriber.cpp
  include/dds/domain/DomainParticipant.hpp
  include/dds/sub/Subscriber.hpp
  include/dds/sub/SubscriberListener.hpp
  include/dds/sub/detail/Subscriber.hpp
  include/dds/sub/qos/SubscriberQos.hpp
  include/dds/sub/qos/detail/SubscriberQos.hpp
  include/fastdds/dds/domain/DomainParticipant.hpp
  include/fastdds/dds/publisher/Publisher.hpp
  include/fastdds/dds/subscriber/Subscriber.hpp
  include/fastdds/dds/subscriber/qos/SubscriberQos.hpp
  include/fastrtps/attributes/SubscriberAttributes.h
  src/cpp/CMakeLists.txt
  src/cpp/dds/sub/Subscriber.cpp
  src/cpp/fastdds/domain/DomainParticipant.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.hpp
  src/cpp/fastdds/publisher/qos/PublisherQos.cpp
  src/cpp/fastdds/subscriber/Subscriber.cpp
  src/cpp/fastdds/subscriber/SubscriberImpl.cpp
  src/cpp/fastdds/subscriber/SubscriberImpl.hpp
  src/cpp/fastdds/subscriber/qos/SubscriberQos.cpp
  test/dds/communication/Subscriber.cpp
  test/unittest/dds/participant/ParticipantTests.cpp
  test/xtypes/TestSubscriber.cpp
Labels: dds-api, high-priority

#1077 Add unittest for DomainParticipantFactory get_instance method
  test/unittest/dds/participant/ParticipantTests.cpp
Labels: dds-api

#1090 DomainParticipant delete_publisher
  test/unittest/dds/participant/ParticipantTests.cpp
Labels: dds-api, high-priority

#1119 DomainParticipant delete_subscriber
  test/unittest/dds/participant/ParticipantTests.cpp
Labels: dds-api, high-priority

#1083 DomainParticipant qos methods
  include/fastdds/dds/core/policy/QosPolicies.hpp
  include/fastdds/dds/domain/DomainParticipant.hpp
  include/fastdds/dds/domain/DomainParticipantFactory.hpp
  src/cpp/dds/domain/DomainParticipant.cpp
  src/cpp/fastdds/domain/DomainParticipant.cpp
  src/cpp/fastdds/domain/DomainParticipantFactory.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.hpp
  src/cpp/fastdds/subscriber/qos/SubscriberQos.cpp
  test/unittest/dds/participant/ParticipantTests.cpp
Labels: dds-api

#1081 DomainParticipantFactory qos methods
  include/fastdds/dds/core/policy/QosPolicies.hpp
  include/fastdds/dds/domain/DomainParticipantFactory.hpp
  include/fastdds/dds/domain/qos/DomainParticipantFactoryQos.hpp
  src/cpp/CMakeLists.txt
  src/cpp/fastdds/domain/DomainParticipantFactory.cpp
  src/cpp/fastdds/domain/qos/DomainParticipantFactoryQos.cpp
  test/unittest/dds/participant/ParticipantTests.cpp
Labels: dds-api

#1132 Added DDS topic class
  include/dds/domain/DomainParticipant.hpp
  include/dds/topic/Topic.hpp
  include/dds/topic/TopicListener.hpp
  include/dds/topic/detail/Topic.hpp
  include/dds/topic/qos/TopicQos.hpp
  include/dds/topic/qos/detail/TopicQos.hpp
  include/fastdds/dds/core/status/StatusMask.hpp
  include/fastdds/dds/domain/DomainParticipant.hpp
  include/fastdds/dds/topic/Topic.hpp
  include/fastdds/dds/topic/TopicDescription.hpp
  include/fastdds/dds/topic/TopicListener.hpp
  include/fastdds/dds/topic/qos/TopicQos.hpp
  src/cpp/CMakeLists.txt
  src/cpp/dds/domain/DomainParticipant.cpp
  src/cpp/dds/topic/Topic.cpp
  src/cpp/fastdds/domain/DomainParticipant.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.hpp
  src/cpp/fastdds/topic/Topic.cpp
  src/cpp/fastdds/topic/TopicImpl.cpp
  src/cpp/fastdds/topic/TopicImpl.hpp
  src/cpp/fastdds/topic/qos/TopicQos.cpp
  test/unittest/dds/participant/ParticipantTests.cpp
Labels: dds-api, high-priority

#1131 DataWriter qos methods
  examples/C++/DDS/DynamicHelloWorldExample/HelloWorldPublisher.cpp
  examples/C++/DDS/HelloWorldExample/HelloWorldPublisher.cpp
  examples/C++/DDS/TypeLookupService/TypeLookupPublisher.cpp
  include/dds/pub/AnyDataWriter.hpp
  include/dds/pub/DataWriter.hpp
  include/dds/pub/Publisher.hpp
  include/dds/pub/detail/AnyDataWriter.hpp
  include/dds/pub/detail/DataWriter.hpp
  include/dds/pub/qos/DataWriterQos.hpp
  include/dds/pub/qos/detail/DataWriterQos.hpp
  include/fastdds/dds/core/policy/QosPolicies.hpp
  include/fastdds/dds/publisher/DataWriter.hpp
  include/fastdds/dds/publisher/Publisher.hpp
  include/fastdds/dds/publisher/qos/DataWriterQos.hpp
  include/fastdds/dds/publisher/qos/WriterQos.hpp
  include/fastdds/rtps/attributes/WriterAttributes.h
  include/fastrtps/types/TypesBase.h
  src/cpp/CMakeLists.txt
  src/cpp/dds/pub/AnyDataWriter.cpp
  src/cpp/dds/pub/DataWriter.cpp
  src/cpp/dds/pub/Publisher.cpp
  src/cpp/fastdds/publisher/DataWriter.cpp
  src/cpp/fastdds/publisher/DataWriterImpl.cpp
  src/cpp/fastdds/publisher/DataWriterImpl.hpp
  src/cpp/fastdds/publisher/Publisher.cpp
  src/cpp/fastdds/publisher/PublisherImpl.cpp
  src/cpp/fastdds/publisher/PublisherImpl.hpp
  src/cpp/fastdds/publisher/qos/DataWriterQos.cpp
  src/cpp/fastdds/publisher/qos/WriterQos.cpp
  test/dds/communication/Publisher.cpp
  test/unittest/CMakeLists.txt
  test/unittest/dds/publisher/CMakeLists.txt
  test/unittest/dds/publisher/DataWriterTests.cpp
  test/unittest/dds/publisher/PublisherTests.cpp
  test/xtypes/TestPublisher.cpp
Labels: dds-api, high-priority

#1139 dds type registration config
  include/fastdds/dds/topic/TopicDataType.hpp
  include/fastdds/dds/topic/qos/TopicQos.hpp
  src/cpp/fastdds/domain/DomainParticipantImpl.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.hpp
  test/unittest/dds/participant/ParticipantTests.cpp
Labels: dds-api, high-priority

#1141 DDS delete_topic [8180]
  include/fastdds/dds/domain/DomainParticipant.hpp
  src/cpp/fastdds/domain/DomainParticipant.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.hpp
  src/cpp/fastdds/topic/TopicImpl.cpp
  src/cpp/fastdds/topic/TopicImpl.hpp
  test/unittest/dds/participant/ParticipantTests.cpp
Labels: dds-api

#1142 Topic constructor needs the type_name to store it
  include/fastdds/dds/topic/Topic.hpp
  src/cpp/fastdds/domain/DomainParticipantImpl.cpp
  src/cpp/fastdds/topic/Topic.cpp
Labels: dds-api

#1127 DDS default_datareader_qos
  examples/C++/DDS/DynamicHelloWorldExample/HelloWorldSubscriber.cpp
  examples/C++/DDS/DynamicHelloWorldExample/HelloWorldSubscriber.h
  examples/C++/DDS/HelloWorldExample/HelloWorldSubscriber.cpp
  examples/C++/DDS/TypeLookupService/TypeLookupSubscriber.cpp
  examples/C++/DDS/TypeLookupService/TypeLookupSubscriber.h
  include/dds/sub/Subscriber.hpp
  include/dds/sub/qos/DataReaderQos.hpp
  include/dds/sub/qos/detail/DataReaderQos.hpp
  include/fastdds/dds/core/policy/QosPolicies.hpp
  include/fastdds/dds/core/policy/ReaderDataLifecycleQosPolicy.hpp
  include/fastdds/dds/subscriber/DataReader.hpp
  include/fastdds/dds/subscriber/Subscriber.hpp
  include/fastdds/dds/subscriber/qos/DataReaderQos.hpp
  include/fastdds/dds/subscriber/qos/ReaderQos.hpp
  include/fastrtps/types/TypesBase.h
  src/cpp/dds/domain/DomainParticipant.cpp
  src/cpp/dds/sub/Subscriber.cpp
  src/cpp/fastdds/subscriber/DataReader.cpp
  src/cpp/fastdds/subscriber/DataReaderImpl.cpp
  src/cpp/fastdds/subscriber/DataReaderImpl.hpp
  src/cpp/fastdds/subscriber/Subscriber.cpp
  src/cpp/fastdds/subscriber/SubscriberImpl.cpp
  src/cpp/fastdds/subscriber/SubscriberImpl.hpp
  src/cpp/fastdds/subscriber/qos/DataReaderQos.cpp
  src/cpp/fastdds/subscriber/qos/ReaderQos.cpp
  test/dds/communication/Subscriber.cpp
  test/unittest/CMakeLists.txt
  test/unittest/dds/participant/ParticipantTests.cpp
  test/unittest/dds/subscriber/CMakeLists.txt
  test/unittest/dds/subscriber/SubscriberTests.cpp
  test/xtypes/TestSubscriber.cpp
  test/xtypes/TestSubscriber.h
Labels: dds-api, high-priority

#1145 Change TopicDataType to include xtypes data
  include/fastdds/dds/topic/TopicDataType.hpp
  test/unittest/dynamic_types/CMakeLists.txt
Labels: dds-api

#1094 DomainParticipant set/get_default_publisher_qos
  include/fastdds/dds/core/policy/ParameterTypes.hpp
  include/fastdds/dds/core/policy/QosPolicies.hpp
  include/fastdds/dds/publisher/Publisher.hpp
  include/fastdds/dds/publisher/qos/PublisherQos.hpp
  include/fastdds/rtps/messages/CDRMessage.h
  include/fastdds/rtps/messages/CDRMessage.hpp
  include/fastrtps/qos/QosPolicies.h
  src/cpp/CMakeLists.txt
  src/cpp/dds/domain/DomainParticipant.cpp
  src/cpp/dds/pub/Publisher.cpp
  src/cpp/fastdds/core/policy/ParameterList.cpp
  src/cpp/fastdds/core/policy/ParameterSerializer.hpp
  src/cpp/fastdds/core/policy/ParameterTypes.cpp
  src/cpp/fastdds/core/policy/QosPolicies.cpp
  src/cpp/fastdds/core/policy/QosPoliciesSerializer.hpp
  src/cpp/fastdds/domain/DomainParticipantImpl.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.hpp
  src/cpp/fastdds/publisher/PublisherImpl.cpp
  src/cpp/fastdds/publisher/PublisherImpl.hpp
  src/cpp/fastdds/publisher/qos/PublisherQos.cpp
  src/cpp/fastdds/subscriber/SubscriberImpl.cpp
  src/cpp/rtps/builtin/data/ParticipantProxyData.cpp
  src/cpp/rtps/builtin/data/ReaderProxyData.cpp
  src/cpp/rtps/builtin/data/WriterProxyData.cpp
  src/cpp/rtps/messages/submessages/DataMsg.hpp
  test/mock/dds/QosPolicies/fastdds/dds/core/policy/QosPolicies.hpp
  test/unittest/dds/participant/ParticipantTests.cpp
  test/unittest/dds/publisher/CMakeLists.txt
  test/unittest/dds/publisher/PublisherTests.cpp
  test/unittest/dynamic_types/CMakeLists.txt
  test/unittest/rtps/history/CacheChangePoolTests.cpp
  test/unittest/rtps/network/CMakeLists.txt
  test/unittest/security/authentication/CMakeLists.txt
  test/unittest/transport/CMakeLists.txt
  test/unittest/xmlparser/CMakeLists.txt
  test/unittest/xtypes/CMakeLists.txt
  test/xtypes/TestPublisher.cpp
  test/xtypes/TestPublisher.h
  test/xtypes/TestSubscriber.cpp
  test/xtypes/XTypesTests.cpp
Labels: dds-api

#1150 sharing projects section - README.md <master>
  README.md
Labels: no-test

#1140 DDS Publisher get_participant
  include/dds/pub/Publisher.hpp
  src/cpp/dds/pub/Publisher.cpp
  test/unittest/dds/publisher/PublisherTests.cpp
Labels: dds-api

#1146 DDS lookup_topicdescription [8211]
  include/fastdds/dds/domain/DomainParticipant.hpp
  src/cpp/fastdds/domain/DomainParticipant.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.hpp
  test/unittest/dds/participant/ParticipantTests.cpp
Labels: dds-api

#1153 DDS Visibility of reference API from TopicDescription
  include/fastdds/dds/topic/Topic.hpp
  include/fastdds/dds/topic/TopicDescription.hpp
  src/cpp/fastdds/topic/Topic.cpp
  src/cpp/fastdds/topic/TopicDescriptionImpl.hpp
  src/cpp/fastdds/topic/TopicImpl.cpp
  src/cpp/fastdds/topic/TopicImpl.hpp
Labels: dds-api, high-priority

#1122 DDS Subscriber get/set qos
  include/fastdds/dds/subscriber/qos/SubscriberQos.hpp
  src/cpp/dds/domain/DomainParticipant.cpp
  src/cpp/dds/sub/Subscriber.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.hpp
  src/cpp/fastdds/subscriber/SubscriberImpl.cpp
  src/cpp/fastdds/subscriber/SubscriberImpl.hpp
  src/cpp/fastdds/subscriber/qos/SubscriberQos.cpp
  test/unittest/dds/participant/ParticipantTests.cpp
  test/unittest/dds/subscriber/SubscriberTests.cpp
Labels: dds-api, high-priority

#1154 DDS create_datareader
  examples/C++/DDS/DynamicHelloWorldExample/HelloWorldSubscriber.cpp
  examples/C++/DDS/DynamicHelloWorldExample/HelloWorldSubscriber.h
  examples/C++/DDS/HelloWorldExample/HelloWorldSubscriber.cpp
  examples/C++/DDS/HelloWorldExample/HelloWorldSubscriber.h
  examples/C++/DDS/TypeLookupService/TypeLookupSubscriber.cpp
  examples/C++/DDS/TypeLookupService/TypeLookupSubscriber.h
  include/dds/sub/DataReader.hpp
  include/dds/sub/DataReaderListener.hpp
  include/dds/sub/SubscriberListener.hpp
  include/dds/sub/detail/DataReader.hpp
  include/fastdds/dds/core/policy/QosPolicies.hpp
  include/fastdds/dds/subscriber/DataReader.hpp
  include/fastdds/dds/subscriber/Subscriber.hpp
  src/cpp/CMakeLists.txt
  src/cpp/dds/sub/DataReader.cpp
  src/cpp/fastdds/subscriber/DataReader.cpp
  src/cpp/fastdds/subscriber/DataReaderImpl.cpp
  src/cpp/fastdds/subscriber/DataReaderImpl.hpp
  src/cpp/fastdds/subscriber/Subscriber.cpp
  src/cpp/fastdds/subscriber/SubscriberImpl.cpp
  src/cpp/fastdds/subscriber/SubscriberImpl.hpp
  test/dds/communication/Subscriber.cpp
  test/unittest/dds/participant/ParticipantTests.cpp
  test/unittest/dds/subscriber/SubscriberTests.cpp
  test/xtypes/TestPublisher.cpp
  test/xtypes/TestSubscriber.cpp
  test/xtypes/TestSubscriber.h
  test/xtypes/XTypesTests.cpp
Labels: dds-api, high-priority

#1156 DDS DataWriter write
  examples/C++/DDS/DynamicHelloWorldExample/HelloWorldPublisher.cpp
  examples/C++/DDS/DynamicHelloWorldExample/HelloWorldPublisher.h
  examples/C++/DDS/DynamicHelloWorldExample/HelloWorldSubscriber.h
  examples/C++/DDS/HelloWorldExample/HelloWorldPublisher.cpp
  examples/C++/DDS/HelloWorldExample/HelloWorldPublisher.h
  examples/C++/DDS/TypeLookupService/TypeLookupPublisher.cpp
  examples/C++/DDS/TypeLookupService/TypeLookupPublisher.h
  examples/C++/DDS/TypeLookupService/TypeLookupSubscriber.h
  include/fastdds/dds/core/policy/QosPolicies.hpp
  include/fastdds/dds/domain/DomainParticipantListener.hpp
  include/fastdds/dds/publisher/DataWriter.hpp
  include/fastdds/dds/publisher/DataWriterListener.hpp
  include/fastdds/dds/publisher/Publisher.hpp
  include/fastdds/dds/publisher/PublisherListener.hpp
  include/fastdds/dds/publisher/qos/DataWriterQos.hpp
  include/fastdds/dds/subscriber/SubscriberListener.hpp
  include/fastdds/dds/topic/TypeSupport.hpp
  src/cpp/dds/pub/DataWriter.cpp
  src/cpp/fastdds/publisher/DataWriter.cpp
  src/cpp/fastdds/publisher/DataWriterImpl.cpp
  src/cpp/fastdds/publisher/DataWriterImpl.hpp
  src/cpp/fastdds/publisher/Publisher.cpp
  src/cpp/fastdds/publisher/PublisherImpl.cpp
  src/cpp/fastdds/publisher/PublisherImpl.hpp
  src/cpp/fastdds/publisher/qos/DataWriterQos.cpp
  src/cpp/fastdds/subscriber/SubscriberImpl.cpp
  test/dds/communication/Publisher.cpp
  test/dds/communication/Subscriber.cpp
  test/unittest/dds/participant/ParticipantTests.cpp
  test/unittest/dds/publisher/CMakeLists.txt
  test/unittest/dds/publisher/DataWriterTests.cpp
  test/unittest/dds/publisher/PublisherTests.cpp
  test/xtypes/TestPublisher.cpp
  test/xtypes/TestPublisher.h
  test/xtypes/TestSubscriber.h
  test/xtypes/XTypesTests.cpp
Labels: dds-api, high-priority

#1136 DDS subscriber get_participant
  include/dds/sub/Subscriber.hpp
  src/cpp/dds/sub/Subscriber.cpp
  test/unittest/dds/subscriber/CMakeLists.txt
  test/unittest/dds/subscriber/SubscriberTests.cpp
Labels: dds-api

#1157 DDS DataReader read/take_next_sample
  examples/C++/DDS/DynamicHelloWorldExample/HelloWorldSubscriber.cpp
  examples/C++/DDS/DynamicHelloWorldExample/HelloWorldSubscriber.h
  examples/C++/DDS/HelloWorldExample/HelloWorldSubscriber.cpp
  examples/C++/DDS/HelloWorldExample/HelloWorldSubscriber.h
  examples/C++/DDS/TypeLookupService/TypeLookupSubscriber.cpp
  examples/C++/DDS/TypeLookupService/TypeLookupSubscriber.h
  include/fastdds/dds/subscriber/DataReader.hpp
  include/fastdds/dds/subscriber/DataReaderListener.hpp
  include/fastdds/dds/subscriber/SampleInfo.hpp
  src/cpp/fastdds/subscriber/DataReader.cpp
  src/cpp/fastdds/subscriber/DataReaderImpl.cpp
  src/cpp/fastdds/subscriber/DataReaderImpl.hpp
  test/dds/communication/Subscriber.cpp
  test/unittest/dds/subscriber/SubscriberTests.cpp
  test/xtypes/TestSubscriber.cpp
  test/xtypes/TestSubscriber.h
Labels: dds-api, high-priority

#1161 Change DataReader/DataWriterQos to follow the same name convention
  examples/C++/DDS/TypeLookupService/TypeLookupPublisher.cpp
  include/fastdds/dds/publisher/qos/DataWriterQos.hpp
  include/fastdds/dds/subscriber/qos/DataReaderQos.hpp
  src/cpp/fastdds/publisher/DataWriterImpl.cpp
  src/cpp/fastdds/publisher/qos/DataWriterQos.cpp
  src/cpp/fastdds/subscriber/DataReaderImpl.cpp
Labels: dds-api

#1165 Change register type return type [8227]
  examples/C++/DDS/DynamicHelloWorldExample/HelloWorldPublisher.cpp
  examples/C++/DDS/DynamicHelloWorldExample/HelloWorldSubscriber.cpp
  examples/C++/DDS/HelloWorldExample/HelloWorldPublisher.cpp
  examples/C++/DDS/HelloWorldExample/HelloWorldSubscriber.cpp
  examples/C++/DDS/TypeLookupService/TypeLookupPublisher.cpp
  include/fastdds/dds/domain/DomainParticipant.hpp
  include/fastdds/dds/topic/TypeSupport.hpp
  src/cpp/fastdds/domain/DomainParticipant.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.cpp
  src/cpp/fastdds/domain/DomainParticipantImpl.hpp
  src/cpp/fastdds/topic/TypeSupport.cpp
  test/dds/communication/Publisher.cpp
  test/unittest/dds/participant/ParticipantTests.cpp
  test/unittest/dds/publisher/DataWriterTests.cpp
  test/unittest/dds/publisher/PublisherTests.cpp
  test/unittest/dds/subscriber/SubscriberTests.cpp
  test/xtypes/TestPublisher.cpp
  test/xtypes/TestSubscriber.cpp
Labels: dds-api

#1163 Support for OpenSSL 1.1.1d <1.10.x> [8224]
  src/cpp/fastrtps_deprecated/security/authentication/PKIDH.cpp
  src/cpp/fastrtps_deprecated/security/cryptography/AESGCMGMAC_KeyFactory.cpp
  src/cpp/fastrtps_deprecated/security/cryptography/AESGCMGMAC_Transform.cpp
  src/cpp/fastrtps_deprecated/security/cryptography/AESGCMGMAC_Transform.h
  src/cpp/fastrtps_deprecated/security/cryptography/AESGCMGMAC_Types.h
  src/cpp/rtps/builtin/discovery/endpoint/EDPSimpleListeners.cpp
  test/unittest/security/authentication/CMakeLists.txt
  test/unittest/security/cryptography/CMakeLists.txt
  test/unittest/security/cryptography/CryptographyPluginTests.hpp
Labels: ready

#1174 Fix api break on profiling tests [8243]
  test/performance/video/VideoTestPublisher.cpp
  test/performance/video/VideoTestSubscriber.cpp
  test/profiling/MemoryTestPublisher.cpp
  test/profiling/MemoryTestSubscriber.cpp
  test/profiling/allocations/AllocTestPublisher.cpp
  test/profiling/allocations/AllocTestSubscriber.cpp
  utils/pcTests/HelloWorldTestLiveliness/HelloWorldPublisher.cpp
  utils/pcTests/HelloWorldTestLiveliness/HelloWorldSubscriber.cpp
Labels: no-test

#1182 Load DDSParticipantQos from XML [8259]
  include/fastdds/dds/domain/DomainParticipantFactory.hpp
  include/fastdds/dds/domain/qos/DomainParticipantQos.hpp
  src/cpp/fastdds/domain/DomainParticipantFactory.cpp
Labels: dds-api

#1188 Disable SHM as default transport on Windows <2.0.x>
  CMakeLists.txt
Labels: no-test
